@import url("https://fonts.googleapis.com/css?family=Nunito:400,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Share+Tech+Mono");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: #202b44;
  font-family: "Nunito", sans-serif;
  font-size: 1rem;
}
main {
  max-width: 900px;
  margin: auto;
  padding: 0.5rem;
  text-align: center;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
ul {
  list-style: none;
  display: flex;
}

li {
  margin-right: 1rem;
}
h1 {
  color: #e74c3c;
  margin-bottom: 0.5rem;
}
.container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
  grid-gap: 1rem;
  justify-content: center;
  align-items: center;
  margin: auto;
  padding: 1rem 0;
}

.title {
  text-align: center;
  font-size: 3em;
  color: #fff;
  font-weight: 700;
  text-transform: uppercase;
  text-shadow: 0px 0px 5px #fff, 0px 0px 7px #fff;
}

.card {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 500px;
  height: 15rem;
  background: #182137;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  border-radius: 10px;
  overflow: hidden;
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.card--avatar {
  width: 100%;
  height: 10rem;
  object-fit: cover;
}
.card--title {
  color: #3e434a;
  background-color: #101624;
  width: 100%;
  font-weight: 700;
  text-transform: capitalize;
  font-size: 1.1rem;
  margin-top: 0rem;
  padding: 5px;
}
.card--link {
  text-decoration: none;
  background: #db4938;
  color: #fff;
  padding: 0.3rem 1rem;
  border-radius: 20px;
}

.btn {
  border-radius: 10px;
}

.google {
  background-color: red;
}

/* GOOGLE BUTTON STYLE */

#gSignInWrapper {
  position: relative;
  top: 40%;
  transform: translateY(-50%);
  display: flex;
  align-items: center;
  justify-content: center;
}

#customBtn {
  display: flex;
  background: #db4437;
  color: #fff;
  width: 250px;
  height: 50px;
  border-radius: 5px;
  justify-content: center;
  align-items: center;
  white-space: nowrap;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}
#customBtn:hover {
  cursor: pointer;
  opacity: 0.5;
}
span.label {
  font-family: serif;
  font-weight: normal;
}
span.icon {
  background: url("/identity/sign-in/g-normal.png") transparent 5px 50%
    no-repeat;
  display: inline-block;
  vertical-align: middle;
  width: 42px;
  height: 42px;
}
span.buttonText {
  display: inline-block;
  vertical-align: middle;
  padding-left: 10px;
  font-size: 14px;
  font-weight: bold;
  /* Use the Roboto font that is loaded in the <head> */
  font-family: "Roboto", sans-serif;
}

/* Buttons dashboard */

.btn {
  padding: 7px 10px;
  border-radius: 10px;
  border: none;
  outline: none;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

.btn:hover {
  opacity: 0.5;
  cursor: pointer;
}

.signout {
  color: white;
  background-color: #db4437;
}

.camerabtn {
  color: white;
  background-color: #4285f4;
}

#photoButton {
  display: none;
}

.photobtn {
  position: fixed;
  bottom: 40px;
  margin: 5% auto;
  left: 0;
  right: 0;
  border-radius: 50px;
  color: black;
  background-color: white;
}

.titlenav {
  text-align: center;
  font-size: 1em;
  color: #fff;
  text-transform: uppercase;
  text-shadow: 0px 0px 5px #fff, 0px 0px 7px #fff;
}
